JWT_SECRET_KEY=your-super-secret-jwt-token-with-at-least-32-characters-long
WEBHOOK_VERIFY_TOKEN=your-super-secret-verification-token-with-at-least-32-characters-long
FACEBOOK_APP_SECRET=app-secret-from-developer-console
WHATSAPP_ACCESS_TOKEN=permanent-token-from-developer-console
NEXT_PUBLIC_SUPABASE_ANON_KEY=anon-key-from-supabase
NEXT_PUBLIC_SUPABASE_URL=url-from-supabase
SUPABASE_SERVICE_ROLE=service-role-from-supabase
WHATSAPP_API_PHONE_NUMBER_ID=phone-number-id-from-supabase
